*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background: rgb(29, 29, 29);
    color: rgb(160, 160, 160);
}



::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #202020;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #333333;  */
    background: #383838;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666666; 
}

.container{
    width: 100%;
}

.primaryBtn{
    transition: all 0.3s;
    outline: none;
    border: transparent;
    color: rgb(223, 223, 223);
    background: #0059b4;
    padding: 0.5% 1.7%;
    /* padding: 10px 30px; */
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.primaryBtn:hover{
    background: #0d72d6;
    font-weight: 700;
    /* color: rgb(190, 190, 190); */
}

.primaryBtn:active{
    background: #003b75;
}


.header{
    background: rgb(48, 48, 48);
    /* background: rgb(212, 212, 212); */
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 8vh;
    width: 100%;
    min-height: clac(max-content + 3rem);
    border-bottom: 1px solid #0059b4;
    z-index: 10;
    
}

#AlmogSurizonLogo{
    width: 180px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}

.header .menu{
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header .menu .menuItem{
    position: relative;
    transition: all 0.3s;
    display: inline;
    margin: 0 4vw;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(160, 160, 160);
}

.header .menu .menuItem:hover{
    color:  rgb(102, 102, 102);
    text-shadow: 0px 0px 1px rgb(10, 10, 10);
}

.header .contactBtn{
    width: max-content;
    padding: 0.4rem 2.8rem;
    position: absolute;
    right: 30px;
    top: 50%;
    text-align: center;
    font-size: 1rem;
    transform: translateY(-50%);
}

#mainImg{
    width: 100%;
    height: auto;
    opacity: 0%;
}
.mainImage{
    position: relative;
    background-image: url("../Images/mainImage5.png");
    background-size: 100%;
    width: 100%;
    height: max-content;
    z-index: 1;

}

.mainImage .resomeBtn{
    position: absolute;
    top: 63%;
    left: 50%;
    font-size: 1.5rem;
    transform: translateX(-50%);
}

.mainImage .mainHeadline{
    font-size: 300%;
    color: rgb(221, 221, 221);
    position: absolute;
    left: 8%;
    top: 30%;
    font-style: italic;
}


.ProjectsContainer{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 20px 30px;
    display: grid;
    grid-template-areas:'heading heading heading'
                        'project1 project2 project3';
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    z-index: 1;
}

.ProjectsContainer h1{
    text-align: center;
    grid-area: heading;
    font-size: 3rem;
}
.ProjectsContainer .projectBox{
    position: relative;
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.ProjectsContainer .projectBox .info{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(#0000003f, #000000b7, black);
    transition: all 0.8s;
}

.moveUp{
    transform: translateY(-100%);
}

.ProjectsContainer .projectBox .info .content{

    color: #9e9e9e;
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    height: 40%;
    width: 100%;
    overflow: hidden;
    /* padding: 0px 10px 10px 10px; */

}

.ProjectsContainer .projectBox .info .content #SortiIcon{
    margin-left: 5px;
    width: 20px;
}

.ProjectsContainer .projectBox .info .content h2{
    display: inline;
    padding: 0 0 0 5px;
}
.ProjectsContainer .projectBox .info .content .para{
    border-top: #00bd6e solid 2px;
    background: #0000009f;
    padding: 5px 8px 0px 8px;
    height: auto;
}


.ProjectsContainer .Sorti{
    grid-area: project3;
    background-image: url('..\\Images\\SortiLong.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.ProjectsContainer .SortiOld{
    grid-area: project2;
}

.ProjectsContainer .LinkedList{
    grid-area: project1;
}


.footer{
    position: relative;
    width: 100%;
    height: 45vh;
    background: rgb(49, 49, 49);
    border-top: 1px solid #0059b4
}

.footer .myEmail{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-weight: 600;

}

.footer #AlmogSurizonFooterLogo{
    width: 180px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
}

.footer .CopyRight{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-weight: 600;
}


